@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

body{
    background-color:rgb(248,249,250)!important;
}

.login-block {
    background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262); /* Chrome 10-25, Safari 5.1-6 */
    float: left;
    width: 100%;
    padding: 50px 0;
}

.banner-sec {
    background: url(https://d17fnq9dkz9hgj.cloudfront.net/uploads/2018/03/Scottish-Fold_01.jpg) no-repeat left bottom;
    background-size: cover;
    min-height: 500px;
    border-radius: 0 10px 10px 0;
    padding: 0;
}
.banner-s {
    background: url(https://pbs.twimg.com/profile_images/962170088941019136/lgpCD8X4_400x400.jpg) no-repeat left bottom;
    background-size: cover;
    min-height: 500px;
    border-radius: 0 10px 10px 0;
    padding: 0;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 0px rgba(0,0,0,0.1);
}

.container-body {
    width: 75%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.carousel-inner {
    border-radius: 0 10px 10px 0;
}

.carousel-caption {
    text-align: left;
    left: 5%;
}

.login-sec {
    padding: 50px 30px;
    position: relative;
}

    .login-sec .copy-text {
        position: absolute;
        width: 80%;
        bottom: 20px;
        font-size: 13px;
        text-align: center;
    }

        .login-sec .copy-text i {
            color: #FEB58A;
        }

        .login-sec .copy-text a {
            color: #E36262;
        }

    .login-sec h2 {
        margin-bottom: 30px;
        font-weight: 800;
        font-size: 30px;
        color: #DE6262;
    }

        .login-sec h2:after {
            content: " ";
            width: 100px;
            height: 5px;
            background: #FEB58A;
            display: block;
            margin-top: 20px;
            border-radius: 3px;
            margin-left: auto;
            margin-right: auto
        }

.btn-login {
    background: #DE6262;
    color: #fff;
    font-weight: 600;
}

.banner-text {
    width: 70%;
    position: absolute;
    bottom: 40px;
    padding-left: 20px;
}

    .banner-text h2 {
        color: #fff;
        font-weight: 600;
    }

        .banner-text h2:after {
            content: " ";
            width: 100px;
            height: 5px;
            background: #FFF;
            display: block;
            margin-top: 20px;
            border-radius: 3px;
        }

    .banner-text p {
        color: #fff;
    }

.thumb {
    width:200px;
    height:200px;
}
.name{
    padding-top:30px;
}
.Username{
    text-align:right;
    padding-left:500px;;
}
.Animal{
    padding-top:30px;
}
.HomeTable{
    margin-left:150px;
}
.HomeSearch{
    margin-top:15px;
}
.Hometext{
    font-family:'Freestyle Script';
    font-size:60px;
    text-align:center;
    margin-top:15px;
}
.textfont{
    font-family:'Freestyle Script';
}