<div>
    <form asp-controller="" asp-action="" method="get">
        <h4>Find the best for you:</h4>
        <div>
            <label asp-for="City">City</label>
            <select asp-for="City">
                <options>Ide majd a varosok listaja jon!</options>
            </select>
        </div>
        <div>
            <label asp-for="Type">Your pet's type</label>
            <input asp-for="Type"/>
        </div>
        <div>
            <label asp-for="Price">Price/day/animal</label>
            <input asp-for="Price"/>
        </div>
    </form>
    @if (Model != null)
    {
        @foreach (var user in Model.List)
        {
            <div class="card mb-10 hotel-card">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">
                                @Html.DisplayFor(modelItem => user.UserName + "'s place")
                            </h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => user.City)</p>
                            <p class="card-text">@Html.DisplayFor(modelItem => user.Place.AnimalType)</p>
                            @if (user.Place.Price == 0)
                            {
                                <p class="card-text"><small class="text-muted"><i>Unknown</i></small></p>
                            }
                            else
                            {
                                <p class="card-text">@Html.DisplayFor(modelItem => user.Place.Price)<span>$</span></p>
                            }
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card-body">
                            <form asp-controller="" asp-action="" method="get">
                                <button type="submit" class="btn btn-primary">See more</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>